.absolute {
  position: fixed; /* Keeps the shapes fixed to the viewport */
  top: 100px;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  z-index: -1;
}

.bg-shape-1, .bg-shape-2, .bg-shape-3, .bg-shape-4, .bg-shape-5, .bg-shape-6, .bg-shape-7, .bg-shape-8 {
  border-radius: 9999px;
  position: fixed; /* Ensure they stay in view */
  animation: float 100s infinite; /* Smooth and infinite movement */
  filter: blur(50px);
}

.bg-shape-1 { width: 400px; height: 400px; animation-name: one; }
.bg-shape-2 { width: 500px; height: 500px; animation-name: two; }
.bg-shape-3 { width: 250px; height: 250px; animation-name: three; }
.bg-shape-4 { width: 220px; height: 220px; animation-name: four; }
.bg-shape-5 { width: 250px; height: 250px; animation-name: five; }
.bg-shape-6 { width: 280px; height: 280px; animation-name: six; }
.bg-shape-7 { width: 250px; height: 250px; animation-name: seven; }
.bg-shape-8 { width: 230px; height: 230px; animation-name: eight; }

/* Pastel colors for each shape */
.bg-pink { background-color: #ffddc1; }
.bg-teal { background-color: #f0ddff; }
.bg-purple { background-color: #e1d6ff; }
.bg-blue { background-color: #ffd7fe; }
.bg-yellow { background-color: #ffe0b2; }
.bg-green { background-color: #fff0b8; }
.bg-red { background-color: #ffc2d8; }
.bg-orange { background-color: #ffd6eb; }

/* Keyframe animations for each shape */
@keyframes one {
  0% { left: 70vw; top: 10vh; }
  20% { left: -5vw; top: 20vh; }
  40% { left: 100vw; top: 10vh; }
  60% { left: 100vw; top: 30vh; }
  80% { left: 85vw; top: 25vh; }
  100% { left: 70vw; top: 10vh; }
}

@keyframes two {
  0% { left: 0; top: 10vh; }
  10% { left: 10vw; top: 30vh; }
  20% { left: 55vw; top: 10vh; }
  30% { left: 100vw; top: 70vh; }
  40% { left: 15vw; top: 60vh; }
  50% { left: 45vw; top: 100vh; }
  60% { left: 25vw; top: 20vh; }
  70% { left: 10vw; top: 50vh; }
  80% { left: 70vw; top: 70vh; }
  90% { left: 15vw; top: 2vh; }
  100% { left: 0; top: 10vh; }
}

@keyframes three {
  0% { left: 100vw; top: 40vh; }
  10% { left: 90vw; top: 10vh; }
  20% { left: 85vw; top: 25vh; }
  30% { left: 90vw; top: 10vh; }
  40% { left: 70vw; top: 20vh; }
  50% { left: 95vw; top: 30vh; }
  60% { left: 100vw; top: 0vh; }
  70% { left: 80vw; top: 50vh; }
  80% { left: 75vw; top: 10vh; }
  90% { left: 95vw; top: 20vh; }
  100% { left: 100vw; top: 40vh; }
}

@keyframes four {
  0% { left: 100vw; top: 30vh; }
  10% { left: 5vw; top: 20vh; }
  20% { left: 75vw; top: 40vh; }
  30% { left: 10vw; top: 60vh; }
  40% { left: 20vw; top: 30vh; }
  50% { left: 5vw; top: 80vh; }
  60% { left: 60vw; top: 100vh; }
  70% { left: 50vw; top: 10vh; }
  80% { left: 30vw; top: 50vh; }
  90% { left: 5vw; top: 10vh; }
  100% { left: 100vw; top: 30vh; }
}

@keyframes five {
  0% { left: 5vw; top: 40vh; }
  10% { left: 60vw; top: 30vh; }
  20% { left: 15vw; top: 20vh; }
  30% { left: 30vw; top: 40vh; }
  40% { left: 80vw; top: 10vh; }
  50% { left: 10vw; top: 60vh; }
  60% { left: 15vw; top: 80vh; }
  70% { left: 25vw; top: 40vh; }
  80% { left: 0; top: 100vh; }
  90% { left: 5vw; top: 20vh; }
  100% { left: 5vw; top: 40vh; }
}

@keyframes six {
  0% { left: 100vw; top: 0vh; }
  10% { left: 75vw; top: 20vh; }
  20% { left: 90vw; top: 70vh; }
  30% { left: 10vw; top: 50vh; }
  40% { left: 20vw; top: 90vh; }
  50% { left: 60vw; top: 20vh; }
  60% { left: 90vw; top: 30vh; }
  70% { left: 10vw; top: 40vh; }
  80% { left: 15vw; top: 60vh; }
  90% { left: 5vw; top: 20vh; }
  100% { left: 100vw; top: 0vh; }
}

@keyframes seven {
  0% { left: 60vw; top: 50vh; }
  10% { left: 15vw; top: 60vh; }
  20% { left: 20vw; top: 70vh; }
  30% { left: 30vw; top: 90vh; }
  40% { left: 25vw; top: 10vh; }
  50% { left: 10vw; top: 30vh; }
  60% { left: 5vw; top: 90vh; }
  70% { left: 0; top: 100vh; }
  80% { left: 15vw; top: 90vh; }
  90% { left: 15vw; top: 20vh; }
  100% { left: 60vw; top: 50vh; }
}

@keyframes eight {
  0% { left: 15vw; top: 10vh; }
  10% { left: 90vw; top: 30vh; }
  20% { left: 65vw; top: 25vh; }
  30% { left: 80vw; top: 40vh; }
  40% { left: 75vw; top: 50vh; }
  50% { left: 40vw; top: 30vh; }
  60% { left: 25vw; top: 70vh; }
  70% { left: 100vw; top: 50vh; }
  80% { left: 25vw; top: 90vh; }
  90% { left: 30vw; top: 80vh; }
  100% { left: 15vw; top: 10vh; }
}