/* Default CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Yeseva+One&display=swap');

@font-face {
  font-family: fontss;
  src: url(./assets/fonts/fontss.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: hidden;
}
body{
  position: relative;
  background-color: #fffdf4 !important;
  overflow: hidden;
  overflow-x: hidden;

}



/* Banner */

.logo{
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  cursor: default;

}
.logo h4{
  font-size: 25px;
  font-weight: 300;
  color: #616161;
  transition: all 0.3s ease;
}
.logo h4:hover{
  color: #ef92ff;
  transition: all 0.3s ease;
}
.banner{
  margin-top: 0;
  height: 95vh;
  padding: 260px 0 100px 0;
  text-align: center;
}

.banner .tagline{
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  display: block;
  color: #290042;
  transition: 0.3s ease-in-out;

}
.banner h1{
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1;
  color: #38004f;
  display: block;
  transition: 0.3s ease-in-out;


}
.banner h1 span{
  color: #8e0eb6; 
  font-family: "Yeseva One", serif;
 
  font-weight: 400;
  transition: 0.3s ease-in-out;


}
.banner button{
  color: #8b06b7;
  font-family: "Poppins", serif;
  font-weight: 400;
  
  font-size: 15px;
  margin-top: 35px;
  letter-spacing: 0.8px;
  align-items: center;
  border: 1px solid #b33bdb;
  padding: 10px 28px;
  margin-left: 18px;
  border-radius: 30px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(165, 159, 168, 0.633);
  transition: 0.3s ease-in-out;

}
.banner button:hover{
  background: linear-gradient(to bottom, #d08dff 0%, #e078f2 100%);

  color: #fff;
  font-weight: 500;
  box-shadow: 0px 0px 10px rgba(138, 132, 141, 0.633);
  transition: 0.3s ease-in-out;


}
.social-icon{
  margin-left: 40px;
  margin-top: 20px;

}
.social-icon a {
  width: 42px;
  height: 42px;
  background-color: #dca1ff;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 3px 3px 6px #d0d0d0,-3px -3px 6px #ffffff;
  transition: 0.3s ease-in-out;

}
.social-icon a::before{
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #af83db;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before{
  transform: scale(1);
}
.social-icon a img{
  width: 40%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}


/* Funfact */

.two-column-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #fff;
}

.text-column {
  flex: 1;
  padding: 70px;
  text-align: center;
}
.text-column h2{
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 300;
  color: #55016c;
}
.text-column span{
  color: #ce7cfa;
}
.image-column {
  flex: 1;
}

.image-column img {
  max-width: 100%;
  width: 90%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 4px 4px 15px #7c7c7cc1;
  transition: transform 0.3s ease-in-out;
}
.image-column img:hover{
  transform:  scale(1.04);
  transition: transform 0.3s ease-in-out;
  box-shadow: 4px 4px 15px #444444c1;

}
@media (max-width: 768px) {
  .two-column-section {
    flex-direction: column;
  }
  
  .text-column, .image-column {
    padding: 10px;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 576px) {
  .text-column {
    padding: 5px;
    text-align: center;
  }
  
  .image-column {
    padding: 5px;
    text-align: center;
  }
  
  .image-column img {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Project  Section*/

.project {
  padding: 100px 0;
  position: relative;
  
}
.project h2 {
	font-size: 45px;
    margin-bottom: 15px;
  font-weight: 200;
  color: #7A1CAC;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.project p {
  color: #9b9b9b;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 18px auto 60px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 50%;
  
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0px;
  color: #4f0071;
  width: 80%;
  border: 1px solid #da7cffaf;
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 20px;
    
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border-radius: 20px;
  border: 2px solid #61009ed6;
  color: #9406e0;
}
.nav-link#projects-tabs-tab-first {
  border-radius: 20px;
}
.nav-link#projects-tabs-tab-second {
  border-radius: 20px;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  height: auto;
  width: 100%;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: 2px 2px 15px rgba(142, 124, 161, 0.452);
}
.proj-imgbx:hover{
  box-shadow: 1px 1px 10px #917d9f;
}
.proj-imgbx img{
  max-width: 100%;
  object-fit: contain;
  

}
.proj-imgbx::before {
  content: "";
  background: #fff;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  
  transition: 0.4s ease-in-out;
  
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  color: #42016a;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.1em;

}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}






/* The actual timeline (the vertical ruler) */
.py-5 h2{
  font-size: 45px;
    margin-bottom: 15px;
  font-weight: 200;
  color: #7A1CAC;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.main-timeline {
  position: relative;
  margin: 80px;
  
}
.p-4{
  box-shadow: 2px 2px 5px rgba(190, 190, 190, 0.3);
}
.p-4 h3{
  font-size: 20px;
  font-weight: 500;
}
.p-4 h5{
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}
.p-4 p{
  font-size: 15px;
  font-weight: 300;
  color: #616161;
}
/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d8d8d8;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px;
  
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #ffffff;
  border: 5px solid #ff98fd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;

}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
  
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1
  ;
  right: 30px;
  border: medium solid rgb(235, 235, 235);

  border-width: 10px 0 10px 10px;
  border-radius: 20px;

  border-color: transparent transparent transparent rgb(233, 233, 233);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(234, 234, 234) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}





/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Contact form styling */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #fff;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 30px 50px;
  border-radius: 30px;
  color: #363636;
  margin: 25px;
}



form h2 {
  font-size: 45px;
    margin-bottom: 15px;
  font-weight: 200;
  color: #7A1CAC;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
  color: #4a4a4a;
  margin-top: 8px;
  box-shadow: inset 2px 2px 6px rgba(163, 163, 163, 0.3);

}

.input-box .field.mess {
  height: 200px;
  resize: none;
}

/* Center the button container */

/* From Uiverse.io by eirikvold */ 
#contact-button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #fb8dff 0%, #7db3ff 100%);
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  border: none;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
#contact-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#contact-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#contact-button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

#contact-button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

#contact-button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

#contact-button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

#contact-button:hover svg {
  transform: rotate(45deg);
}


